body {
    background-color: #f5f7f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.card .picture {
    background-image: url(./img/1208515622.jpg.0.jpg);
    background-repeat: no-repeat;
    width: 100%; height: 30vh;
    background-size: cover;

}
.card h2 {
  
   align-self: flex-end;
   margin-left: 8px;
}
li p{
    margin-left: 18px;
    font-size: large;
}

